<div class="form-group">
    {{input type=type value=value placeholder=placeholder class=validClass name=valuePath}}
    {{#if showMessage}}
        <span class="text-help">
            {{v-get model valuePath 'message'}}
        </span>
    {{/if}}

</div>
