@import 'variables';
@import 'bower_components/bootstrap/scss/bootstrap';
@import "bower_components/font-awesome/scss/font-awesome";

@import 'pages';
@import 'components';

$ember-power-select-trigger-ltr-padding: 0 0.5rem;
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

.ember-power-select {
    &.form-control {
        padding: 0;
        height: inherit;
        border: 1px solid #ccc;
    },

    .ember-power-select-trigger {
        border: 0;
        text-align: left;
        padding: 0.125rem 1.5rem 0.125rem 0.5rem;
    }
}

.has-error {
    .ember-power-select {
        &.form-control {
            border-color: #a94442;
            box-shadow: 0 0 7px lighten(#a94442, 30%);
        }
    }
}

body {
    background-color: darken($white, 5%);
}

.alert {
    text-align: center;
}

.page-content {
    padding-bottom: 3rem;
}
