.login {
    margin-top: 4rem;

    .sub-action {
        font-size: 0.85rem;
    }

    .pad-top {
        padding-top: 3rem;
    }

    .password-reset-link {
        &:hover {
            color: lighten($black, 30%);
            text-decoration: none;
        }
    }

    .register-link {
        &:hover {
            color: darken($brand-info, 15%) !important;
            text-decoration: none;
        }
    }
}
