<div class="contact">
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <h1>Have a question?</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <p>
                If you have a question about the site or have a problem please visit the facebook page to post on the groups page.
            </p>
            <p>
                <a href="https://www.facebook.com/groups/FantasyPickems" target="_new" class="btn btn-primary">{{fa-icon 'facebook'}} Facebook Group</a>
            </p>
        </div>
    </div>
</div>
